In [49]:
# Artigo Referência: Extração de dados (arquivo zip) via URL com Python
# https://medium.com/gabifernandesc/extra%C3%A7%C3%A3o-de-dados-arquivo-zip-via-url-com-python-82a5d3d47e9d

import pandas as pd

In [79]:

# url da página do zip: https://www.anbima.com.br/pt_br/informar/ranking/fundos-de-investimento/gestores.htm

url = "https://www.anbima.com.br/data/files/8F/54/F5/A4/943B281057178A286B2BA2A8/Ranking%20de%20Gestao%20-%20202207_valor.xls"

pl_por_classe = pd.read_excel(url, sheet_name='Pag. 2 - PL por Classe', skiprows=5).fillna(0)
pl_por_classe.rename(columns={'Total\n': 'Total'}, inplace=True)
pl_por_classe

,Ordem,Gestor,Renda Fixa,Ações,Multimercados,Cambial,Previdência,ETF,FIDC,FIP,FII,Off-Shore,Total
0,1,BB DTVM S.A,1022454.910384,22368.073508,43873.072475,1171.721306,297996.149786,939.321368,63680.062781,0,726.73363,2239.227062,1455449.272301
1,2,ITAU UNIBANCO ASSET MANAGEMENT LTDA,434288.192077,38640.517945,158579.200814,2784.067621,174493.430881,11154.765062,275.822558,305.447189,597.474394,0,821118.918543
2,3,BRADESCO,256930.763477,13518.597796,59714.599461,811.297788,204675.362158,2173.650276,7443.697157,20.992911,381.232838,0,545670.193862
3,4,CAIXA ASSET,341832.917753,13722.479416,10509.910512,127.727962,123994.651509,86.135596,200.240083,0,385.403265,0,490859.466097
4,5,BANCO SANTANDER (BRASIL) SA,175571.803609,4951.81677,55481.124204,1119.135235,63428.651201,0,0,0.0,1834.994487,0,302387.525506
...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,0,0,0,0,0,0,0,0,0,0,0,0,0
882,0,Total Geral,2814356.014302,491289.6893,1570640.751118,8477.07125,1109716.768559,34049.559467,313172.240809,586021.725955,231285.555067,41446.785582,7200456.16141
883,0,0,0,0,0,0,0,0,0,0,0,0,0
884,* Instituições não aderentes ao(s) código(s) d...,0,0,0,0,0,0,0,0,0,0,0,0
885,ANBIMA - Informação Pública,0,0,0,0,0,0,0,0,0,0,0,0

In [80]:
pl_por_classe[pl_por_classe['Gestor'] == 'Subtotal']

,Ordem,Gestor,Renda Fixa,Ações,Multimercados,Cambial,Previdência,ETF,FIDC,FIP,FII,Off-Shore,Total
852,0,Subtotal,2740226.746013,455047.229771,1452857.999994,8477.07125,1099104.223353,34049.559467,313118.131803,585991.519395,231267.036163,41446.785582,6961586.302791
880,0,Subtotal,74129.268289,36242.459529,117782.751124,0,10612.545206,0,54.109006,30.20656,18.518904,0,238869.858619

In [81]:
index_ultima_linha = pl_por_classe[pl_por_classe['Gestor'] == 'Subtotal'].index.tolist()[0]
index_ultima_linha

852

In [82]:
pl_por_classe = pl_por_classe.iloc[:index_ultima_linha]
pl_por_classe.set_index('Ordem', drop=True, inplace=True)
pl_por_classe

C:\Users\KevynMarcelino\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\core\indexes\base.py:6982: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

,Gestor,Renda Fixa,Ações,Multimercados,Cambial,Previdência,ETF,FIDC,FIP,FII,Off-Shore,Total
Ordem,,,,,,,,,,,,
1,BB DTVM S.A,1022454.910384,22368.073508,43873.072475,1171.721306,297996.149786,939.321368,63680.062781,0,726.73363,2239.227062,1455449.272301
2,ITAU UNIBANCO ASSET MANAGEMENT LTDA,434288.192077,38640.517945,158579.200814,2784.067621,174493.430881,11154.765062,275.822558,305.447189,597.474394,0,821118.918543
3,BRADESCO,256930.763477,13518.597796,59714.599461,811.297788,204675.362158,2173.650276,7443.697157,20.992911,381.232838,0,545670.193862
4,CAIXA ASSET,341832.917753,13722.479416,10509.910512,127.727962,123994.651509,86.135596,200.240083,0,385.403265,0,490859.466097
5,BANCO SANTANDER (BRASIL) SA,175571.803609,4951.81677,55481.124204,1119.135235,63428.651201,0,0,0.0,1834.994487,0,302387.525506
...,...,...,...,...,...,...,...,...,...,...,...,...
848,AHEAD VENTURES GESTAO DE REC E CONS LTDA,0,0,0,0,0,0,0,0.69991,0,0,0.69991
849,TELEMAR,0,0,0,0,0,0,0,0.510085,0,0,0.510085
850,QUARTER INVESTIMENTOS,0,0,0.372049,0,0,0,0,0,0,0,0.372049
851,ZEUS CAPITAL,0,0,0.190092,0,0,0,0,0,0,0,0.190092
852,BRKB DTVM S.A.,0,0,0,0,0,0,0,0,0.0,0,0.0

In [83]:
colunas = pl_por_classe.columns.tolist()[1:]
colunas

['Renda Fixa',
 'Ações',
 'Multimercados',
 'Cambial',
 'Previdência',
 'ETF',
 'FIDC',
 'FIP',
 'FII',
 'Off-Shore',
 'Total']

In [84]:
for coluna in colunas:
    pl_por_classe[coluna] = pl_por_classe[coluna].astype(float)

C:\Users\KevynMarcelino\AppData\Local\Temp\ipykernel_5316\3421245854.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pl_por_classe[coluna] = pl_por_classe[coluna].astype(float)

In [85]:
pl_por_classe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 852 entries, 1 to 852
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gestor         852 non-null    object
 1   Renda Fixa     852 non-null    float64
 2   Ações          852 non-null    float64
 3   Multimercados  852 non-null    float64
 4   Cambial        852 non-null    float64
 5   Previdência    852 non-null    float64
 6   ETF            852 non-null    float64
 7   FIDC           852 non-null    float64
 8   FIP            852 non-null    float64
 9   FII            852 non-null    float64
 10  Off-Shore      852 non-null    float64
 11  Total          852 non-null    float64
dtypes: float64(11), object(1)
memory usage: 86.5+ KB

In [89]:
pl_por_classe[pl_por_classe['Gestor'].str.contains('Tower', case=False)]

,Gestor,Renda Fixa,Ações,Multimercados,Cambial,Previdência,ETF,FIDC,FIP,FII,Off-Shore,Total
Ordem,,,,,,,,,,,,
637,TOWER THREE RV GESTORA DE RECURSOS LTDA.,0.0,35.122844,34.337047,0.0,18.0597,0.0,0.0,0.0,0.0,0.0,87.519591

In [94]:
pl_por_classe['Acoes + Mult'] = pl_por_classe['Ações'] + pl_por_classe['Multimercados']

C:\Users\KevynMarcelino\AppData\Local\Temp\ipykernel_5316\304339050.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pl_por_classe['Acoes + Mult'] = pl_por_classe['Ações'] + pl_por_classe['Multimercados']

In [100]:
filtro = pl_por_classe.sort_values(by='Acoes + Mult', ascending=False).reset_index(drop=True)
filtro

,Gestor,Renda Fixa,Ações,Multimercados,Cambial,Previdência,ETF,FIDC,FIP,FII,Off-Shore,Total,Acoes + Mult
0,ITAU UNIBANCO ASSET MANAGEMENT LTDA,434288.192077,38640.517945,158579.200814,2784.067621,174493.430881,11154.765062,275.822558,305.447189,5.974744e+02,0.000000,8.211189e+05,197219.718760
1,BTG PACTUAL,46151.907466,49714.991179,58935.225861,539.566263,5351.078921,338.061149,9551.660036,43055.771229,2.435217e+04,5768.968746,2.437594e+05,108650.217040
2,BW GESTAO DE INVESTIMENTO LTDA,0.000000,0.000000,87261.619829,0.000000,0.000000,0.000000,133.447485,0.000000,0.000000e+00,0.000000,8.739507e+04,87261.619829
3,BRADESCO,256930.763477,13518.597796,59714.599461,811.297788,204675.362158,2173.650276,7443.697157,20.992911,3.812328e+02,0.000000,5.456702e+05,73233.197258
4,CREDIT SUISSE,15405.504032,2624.719036,68845.479977,59.915414,4383.335166,0.000000,0.000000,3226.687306,9.992732e+03,0.000000,1.045384e+05,71470.199013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
847,BOCAINA CAPITAL GESTORA DE RECURSOS LTDA,122.226541,0.000000,0.000000,0.000000,0.000000,0.000000,61.408267,0.000000,0.000000e+00,0.000000,1.836348e+02,0.000000
848,TRIAR GESTAO DE PATRIMONIO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.861603e+02,0.000000,1.861603e+02,0.000000
849,VISION BRAZIL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1600.645263,0.000000,0.000000e+00,0.000000,1.600645e+03,0.000000
850,CADENCE GESTORA DE RECURSOS LTDA.,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.907419e+02,0.000000,1.907419e+02,0.000000
851,BRKB DTVM S.A.,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e-08,0.000000,1.000000e-08,0.000000

In [102]:
filtro[filtro['Gestor'].str.contains('Tower', case=False)]

,Gestor,Renda Fixa,Ações,Multimercados,Cambial,Previdência,ETF,FIDC,FIP,FII,Off-Shore,Total,Acoes + Mult
467,TOWER THREE RV GESTORA DE RECURSOS LTDA.,0.0,35.122844,34.337047,0.0,18.0597,0.0,0.0,0.0,0.0,0.0,87.519591,69.459891

In [13]:
pl_por_segmento = pd.read_excel(url, sheet_name='Pag. 3 - PL por Segmento', skiprows=5).fillna(0)
pl_por_segmento

,Ordem,Gestor,EFPC\nEmp.Públicas,EFPC Emp. Privadas,RPPS,EAPC,Seguradora,Capitalização,Corporate,Middle Market,Private,Varejo Alta Renda,Varejo Tradicional,Conta e Ordem,Poder Público,Investidores Não Residentes,Fundos de Investimento²,Outros³,Total
0,1,BB DTVM S.A,145239.661777,14213.260324,74651.793021,300305.470017,8779.197012,4317.616999,139089.839017,21453.632004,46017.456009,94016.573015,81529.887003,20.333002,523488.166003,516.360004,1805.291004,4.736118,1455449.272327
1,2,ITAU UNIBANCO ASSET MANAGEMENT LTDA,1818.579158,76384.331968,0.01072,188024.782248,5987.945515,2147.092087,156640.615052,68582.84113,126871.232087,136527.644029,27186.821905,733.596622,22725.160274,638.071218,6850.19453,0.0,821118.918544
2,3,BRADESCO,5170.016263,45158.943199,9149.875801,234382.86614,14612.254423,2330.115274,89767.25503,16604.126652,23593.872925,41095.814064,33856.282683,173.989063,4798.165187,999.255582,23035.938163,941.423421,545670.193869
3,4,CAIXA ASSET,1300.338253,0.22707,68646.496624,126599.973575,528.065388,710.390003,30951.421554,21428.821281,12805.608761,60370.70698,60752.46552,0,106764.951092,0,0,0,490859.466099
4,5,BANCO SANTANDER (BRASIL) SA,1143.321267,72518.506464,3236.859063,64498.13616,730.001734,0,71535.258325,2100.503627,15882.51474,33822.395563,16240.624802,1260.138085,11682.661877,2531.650643,5204.953154,0,302387.525503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,"² O segmento ""Fundos de Investimento"" consider...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
886,"³ O segmento ""Outros"" considera o volume dos ...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
887,* Instituições não aderentes ao(s) código(s) d...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
888,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
889,ANBIMA - Informação Pública,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [14]:
pl_por_estrutura = pd.read_excel(url, sheet_name='Pag. 4 - PL por Estrut. (Anexo)', skiprows=5).fillna(0)
pl_por_estrutura

,Ordem,Gestor,Fundos de Investimento em Cotas (FIC),Unnamed: 3,Unnamed: 4,Fundos de Investimento Financeiro (FI),Unnamed: 6,Unnamed: 7
0,0,0,Multigestor,Espelho,Feeder,Multigestor,Espelho,Feeder
1,1,BB DTVM S.A,17885.95912,20441.823274,292430.556431,0,0,0
2,2,ITAU UNIBANCO ASSET MANAGEMENT LTDA,53738.035855,33186.408059,120907.616593,32813.132158,0,7322.115568
3,3,BRADESCO,3554.077753,16645.423082,25678.033605,79.796316,18.507936,149.955416
4,4,CAIXA ASSET,1204.803804,1164.924908,135696.999753,55.133306,0,81.305039
...,...,...,...,...,...,...,...,...
888,23,BANSEG,0,0,0,0,0,0
889,24,ALFA PREVIDENCIA E VIDA SA,0,17.544629,0,0,0,0
890,0,0,0,0,0,0,0,0
891,* Instituições não aderentes ao(s) código(s) d...,0,0,0,0,0,0,0
892,ANBIMA - Informação Pública,0,0,0,0,0,0,0

In [10]:
captacao_por_classe = pd.read_excel(url, sheet_name='Pag. 5 - Captação por Classe', skiprows=5)
captacao_por_classe

,Ordem,Gestor,Mês,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Ano.1,12 Meses,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,12 Meses.1
0,NaN,NaN,Renda Fixa,Ações,Multimercados,Cambial,Previdência,ETF,FIDC,FIP,...,NaN,Renda Fixa,Ações,Multimercados,Cambial,Previdência,ETF,FIDC,FIP,NaN
1,1,BB DTVM S.A,-14070.894183,-848.265306,-2340.306922,-35.097921,-162.87045,-27.653191,-25203.55487,NaN,...,9736.305199,48672.803584,-4196.970398,5450.328093,247.283972,-20383.070006,361.787298,-15061.877001,NaN,15090.28554
2,2,ITAU UNIBANCO ASSET MANAGEMENT LTDA,1380.06906,-1535.350414,-2588.783796,-93.76004,-1365.92565,-68.976063,7.621647,NaN,...,-7986.901843,36048.0909,-12885.55304,-14848.6052,553.486315,-6467.426734,-2299.53432,-892.771402,NaN,-792.313482
3,3,BRADESCO,-3015.157173,-458.356983,-741.683947,-49.453396,-274.708606,NaN,551.297738,6.190349,...,-22330.329755,-21602.46637,-3323.456555,-1386.351797,-116.638645,-9390.975664,-0.004932,874.187613,21.085349,-34924.621002
4,4,CAIXA ASSET,-236.751908,-355.434085,-505.702027,-66.957489,1130.93066,-4.725401,NaN,NaN,...,24253.280827,318556.830221,13421.54147,10137.631524,127.420027,115761.870554,85.55832,264.227035,NaN,458355.079155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
908,NaN,Total Geral,-17405.459548,-7869.596219,-12946.349839,-562.450914,2165.977132,-1572.135988,-23049.430682,1652.098374,...,-17906.427888,156962.894911,-56047.002194,-98385.212186,1318.400459,9442.698389,3357.252173,25453.463786,16134.418471,58236.913851
909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
910,* Instituições não aderentes ao(s) código(s) d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
911,ANBIMA - Informação Pública,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN