In [114]:
# https://developers.anbima.com.br/pt/visao-geral/como-acessar-nossas-apis/
# https://developers.anbima.com.br/pt/

import requests, requests.auth
from pandas import json_normalize
import pandas as pd

# setando casas decimais
pd.set_option('display.float_format', lambda x: '%.15f' % x)

- para conseguir o acces token é necessário fazer um post, conforme instruções da url:
https://developers.anbima.com.br/pt/visao-geral/autenticacao/#oauth2

- fiz no postman e deu certo (porém tem um tempo limitado, aparentemente 10 min):

In [2]:
#url de produção:
producao = 'https://api.anbima.com.br'

#url de sandbox:
sandbox = 'https://api-sandbox.anbima.com.br'

### Obtendo Access Token

In [99]:
import requests, requests.auth

# Authentication
client_id = 'rKrame30WqmO'
client_secret = 'dt38kBXtCCGe'

# Parameters
url_token = 'https://api.anbima.com.br/oauth/access-token'
parameters = {"grant_type": "client_credentials"}

# Request
auth = requests.auth.HTTPBasicAuth(client_id, client_secret)
r = requests.post(url_token, data=parameters, auth=auth)

access_token = r.json()['access_token']
access_token

'GBjdVhTC4e7v'

### Exemplo de requisição com header

In [8]:

url = f'{sandbox}/feed/fundos/v1/fundos/lote'

r = requests.get(url, headers={'Client_id': f'{client_id}', 'access_token':  f'{access_token}'})
r.json()

{'dados-cadastrais': {'codigo_fundo': '430803',
  'nome_fantasia': 'ITAU FLEXPREV ESTRAT USD X EURO MULT FI',
  'razao_social': 'ITAÚ FLEXPREV ESTRATÉGIA USD X EURO MULTIMERCADO FUNDO DE INVESTIMENTO',
  'cnpj_fundo': '25341083000103',
  'codigo_isin': 'BREUR9CTF006',
  'data_primeiro_aporte': '2016-12-19',
  'classe_anbima': 'Previdência',
  'tipo_anbima': 'Previdência Multimercado Livre',
  'classe_cvm': 'Multimercado',
  'subclasse_cvm': 'Não se Aplica',
  'composicao_fundo': 'FI',
  'benchmark': 'Não se Aplica',
  'investimento_exterior': 'Até 20 %',
  'credito_privado': 'N',
  'tipo_investidor': 'Reservado',
  'caracteristica_investidor': 'Inv. Profissional',
  'cota_abertura': 'N',
  'permite_alavancagem': 'N',
  'aberto_estatutariamente': 'S',
  'tributacao_alvo': 'Longo Prazo',
  'data_atualizacao': '2020-03-02T16:59:00',
  'situacao_atual': 'A',
  'multigestor': 'Não se Aplica',
  'aplicacao_automatica': 'Não se Aplica',
  'foco_atuacao': 'Não',
  'previdencia': 'PGBL/VGBL'},
 'prestadores': {'administrador': {'nome': 'ITAU UNIBANCO SA',
   'cnpj': '60701190000104'},
  'gestores': [{'nome': 'ITAU UNIBANCO SA',
    'cnpj': '60701190000104',
    'principal': 'true'}],
  'distribuidores': [{'nome': 'ITAU UNIBANCO SA', 'cnpj': '60701190000104'}],
  'custodiantes': [{'nome': 'ITAU UNIBANCO SA', 'cnpj': '60701190000104'}],
  'controlador_ativo': {'nome': 'ITAU UNIBANCO SA', 'cnpj': '60701190000104'},
  'controlador_passivo_escriturador': {'nome': 'ITAU UNIBANCO SA',
   'cnpj': '60701190000104'},
  'data_atualizacao': '2020-03-02T16:59:00'},
 'taxas': {'unidade': 'P',
  'cobra_taxa_performance': 'N',
  'taxa_composta': 'N',
  'taxa_entrada': 'Não se Aplica',
  'taxa_saida': 'Não se Aplica',
  'taxa_maxima': 1.0,
  'taxa_administracao': 1.0,
  'data_inicio_vigencia_taxa_adm': '2016-12-19T00:00:00',
  'data_atualizacao': '2017-01-05T12:58:00',
  'data_referencia': '2011-04-28'},
 'movimentacao': {'prazo_emissao_cotas': '0',
  'prazo_pagamento_resgate': '1',
  'prazo_conversao_resgate': '0',
  'carencia_ciclica': 0,
  'aplicacao_inicial_minima': 1.0,
  'aplicacao_adicional_minima': 1.0,
  'resgate_minimo': 1.0,
  'saldo_minimo_aplicado_ao_fundo': 1.0,
  'divulgacao_cota': 'DIARIA',
  'data_inicio_divulgacao_cota': '2016-12-19',
  'data_referencia': '2020-05-15',
  'data_atualizacao': '2020-03-02T16:59:00'},
 'documentos': [{'url': 'https://anbima-bucket-documents-prod.s3.amazonaws.com/FUNDOS/430803/430803_REGULAMENTO_19700101_000.pdf',
   'extensao': 'pdf',
   'codigo_fundo': '430803',
   'tipo_documento': 'Regulamento',
   'nome_arquivo': '430803_REGULAMENTO_19700101_000'}],
 'serie_historica': {'patrimonio_liquido': 7218780.2,
  'valor_cota': 12.0215,
  'captacao': 85000.0,
  'resgate': 26061.22,
  'numero_cotistas': 1,
  'data_atualizacao': '2020-09-14T14:33:00',
  'data_referencia': '2020-09-11'},
 'historico_taxas': [{'unidade': 'P',
   'cobra_taxa_performance': 'N',
   'taxa_composta': 'N',
   'taxa_entrada': 'Não se Aplica',
   'taxa_saida': 'Não se Aplica',
   'taxa_maxima': 1.0,
   'taxa_administracao': 1.0,
   'data_inicio_vigencia_taxa_adm': '2016-12-19T00:00:00',
   'data_atualizacao': '2017-01-05T12:58:00',
   'data_referencia': '2011-04-28'}]}

In [13]:
# Exemplo de consulta pela página: https://developers.anbima.com.br/pt/precos-indices/apis-de-precos/titulos-publicos/#mercado-secund%C3%A1rio

url = 'https://api.anbima.com.br/feed/precos-indices/v1/titulos-publicos/mercado-secundario-TPF?data=2019-01-05'
header = {'access_token': access_token,
          'client_id' : client_id}
#auth = requests.auth.HTTPBasicAuth(client_id, headers=params)

requests.get(url, headers=header)

### Como realizar chamadas aos recursos de nossas APIs?

- Na prática, uma chamada a esta API considera sempre o modelo de URI abaixo:

https://[ambiente]/[produto]/[versão]/[pacote]/[recursos]/[parâmetros]

In [15]:
#url = 'https://[ambiente]/[produto]/[versão]/[pacote]/[recursos]/[parâmetros]'
ambiente_producao = 'api.anbima.com.br'
ambiente_sandbox = 'api-sandbox.anbima.com.br'
#ambiente_sandbox = 'api-sandbox.anbima.com.br/mocks' Esse ou o de cima?

produto = 'feed/precos-indices' # Um ou outro?
# versão: v1 (Preços e Índices) e v2 (IMA para ETFs)
versao = 'v1'
pacote = 'indices-mais'
recursos = 'carteira-teorica-ida'
parametros = '2019-01-05'
#url = f'https://{ambiente_sandbox}/{produto}/{versao}/{pacote}/{recursos}/{parametros}'
url = f'https://{ambiente_sandbox}/{produto}/{versao}/{pacote}/{recursos}'
url

'https://api-sandbox.anbima.com.br/feed/precos-indices/v1/indices-mais/carteira-teorica-ida'

In [ ]:
auth = requests.auth.HTTPBasicAuth(client_id, access_token)

In [16]:
pacote = 'titulos-publicos'
recursos = 'mercado-secundario-TPF'

url = f'https://{ambiente_sandbox}/{produto}/{versao}/{pacote}/{recursos}/{parametros}'
url

'https://api-sandbox.anbima.com.br/feed/precos-indices/v1/titulos-publicos/mercado-secundario-TPF/2019-01-05'

### Requisição de exemplo - Mercado Secundário | Funcionando

In [37]:
import requests, requests.auth

#url = f'https://{ambiente_sandbox}/feed/precos-indices/v1/titulos-publicos/mercado-secundario-TPF' # Não funcionando com o ambiente sandbox
url = 'https://api.anbima.com.br/feed/precos-indices/v1/titulos-publicos/mercado-secundario-TPF'
#url = 'https://api.anbima.com.br/feed/precos-indices/v1/titulos-publicos/mercado-secundario-TPF?data=2019-01-05'

# Request
r = requests.get(url, headers={'Client_id': f'{client_id}', 'access_token':  f'{access_token}'})
r

In [38]:
json_normalize(r.json())

   tipo_titulo                   expressao  ...            pu desvio_padrao
0          LFT  Rentabilidade (% a.a.)/252  ...  12648.288139      0.000648
1        NTN-B           Taxa (% a.a.)/252  ...   4065.175951      0.027489
2          LTN           Taxa (% a.a.)/252  ...    970.122771      0.000603
3        NTN-B           Taxa (% a.a.)/252  ...   4023.367125      0.019807
4          LTN           Taxa (% a.a.)/252  ...    940.054344      0.007400
5          LFT  Rentabilidade (% a.a.)/252  ...  12648.351380      0.000926
6          LTN           Taxa (% a.a.)/252  ...    910.060671      0.002240
7          LTN           Taxa (% a.a.)/252  ...    882.216133      0.006590
8          LFT  Rentabilidade (% a.a.)/252  ...  12648.376677      0.000983
9          LTN           Taxa (% a.a.)/252  ...    856.157682      0.000000
10         LTN           Taxa (% a.a.)/252  ...    831.019483      0.003075
11       NTN-B           Taxa (% a.a.)/252  ...   4040.996293      0.006887
12         LFT  Rentabilidade (% a.a.)/252  ...  12648.288139      0.000316
13         LTN           Taxa (% a.a.)/252  ...    805.854344      0.001638
14         LTN           Taxa (% a.a.)/252  ...    782.522531      0.000000
15       NTN-F           Taxa (% a.a.)/252  ...    950.884282      0.003737
16         LFT  Rentabilidade (% a.a.)/252  ...  12643.140285      0.000794
17       NTN-B           Taxa (% a.a.)/252  ...   3995.046951      0.007052
18         LTN           Taxa (% a.a.)/252  ...    737.506563      0.000000
19         LFT  Rentabilidade (% a.a.)/252  ...  12630.782908      0.000403
20         LTN           Taxa (% a.a.)/252  ...    691.058024      0.000000
21         LFT  Rentabilidade (% a.a.)/252  ...  12610.191495      0.000762
22       NTN-B           Taxa (% a.a.)/252  ...   4036.064443      0.010851
23         LFT  Rentabilidade (% a.a.)/252  ...  12603.917944      0.001183
24       NTN-F           Taxa (% a.a.)/252  ...    913.150828      0.002184
25         LFT  Rentabilidade (% a.a.)/252  ...  12563.784925      0.001227
26       NTN-B           Taxa (% a.a.)/252  ...   3984.288002      0.010901
27         LFT  Rentabilidade (% a.a.)/252  ...  12550.554816      0.000530
28         LFT  Rentabilidade (% a.a.)/252  ...  12538.248032      0.001931
29       NTN-B           Taxa (% a.a.)/252  ...   4022.819586      0.005703
30         LFT  Rentabilidade (% a.a.)/252  ...  12526.358641      0.001498
31       NTN-F           Taxa (% a.a.)/252  ...    881.977055      0.003356
32         LFT  Rentabilidade (% a.a.)/252  ...  12515.051071      0.001170
33       NTN-B           Taxa (% a.a.)/252  ...   4026.832210      0.005463
34       NTN-F           Taxa (% a.a.)/252  ...    859.464096      0.003376
35       NTN-C           Taxa (% a.a.)/252  ...   8689.648316      0.035218
36       NTN-B           Taxa (% a.a.)/252  ...   4006.996897      0.011746
37       NTN-F           Taxa (% a.a.)/252  ...    841.306995      0.001060
38       NTN-B           Taxa (% a.a.)/252  ...   3942.211401      0.015677
39       NTN-B           Taxa (% a.a.)/252  ...   3927.359896      0.007725
40       NTN-B           Taxa (% a.a.)/252  ...   3939.006098      0.016706
41       NTN-B           Taxa (% a.a.)/252  ...   3853.246248      0.013798
42       NTN-B           Taxa (% a.a.)/252  ...   3884.575890      0.018117
43       NTN-B           Taxa (% a.a.)/252  ...   3820.042183      0.014291
44       NTN-B           Taxa (% a.a.)/252  ...   3873.285389      0.015141

[45 rows x 15 columns]

### Função

In [107]:
# Access token tem um tempo de vida de 1 hora, se atentar a isso
# parametros não funcionando ainda

def get_api_data(url, header, parameters=''):
    header = {'Client_id': f'{client_id}', 'access_token':  f'{access_token}'}
    r = requests.get(url, headers=header, params=parameters)
    return r.json()

#### Valor Nominal Atualizado (VNA)

In [108]:
url = 'https://api.anbima.com.br/feed/precos-indices/v1/titulos-publicos/vna'

teste = get_api_data(url, header)
json_normalize(teste, record_path='titulos')

  tipo_titulo codigo_selic  index tipo_correcao data_validade           vna
0       NTN-B       760100   0.43             P    2022-12-26   3997.417176
1       NTN-B       760199   0.43             P    2022-12-26   3997.417176
2       NTN-C       770100   0.41             P    2023-01-03   6323.274260
3         LFT       210100  13.65             O    2023-01-05  12654.711952

#### Curvas de Juros

In [115]:
url = 'https://api.anbima.com.br/feed/precos-indices/v1/titulos-publicos/curvas-juros'

#parameters = {'Datasfgf': '2023-01-04'}

teste = get_api_data(url, header)
json_normalize(teste)

  data_referencia  ...                                          bloco3361
0      2023-01-05  ...  [{'vertice_du': 21, 'taxa': 13.181}, {'vertice...

[1 rows x 5 columns]

In [116]:
json_normalize(teste, record_path=['parametros'])

  grupo_indexador                b1  ...                l1                l2
0            IPCA 0.065536250589701  ... 2.248480192949086 0.372697782610279
1      PREFIXADOS 0.131102758034456  ... 2.680104066446757 1.208024022872310

[2 rows x 7 columns]

In [88]:
json_normalize(teste, record_path=['erros'])

   tipo_titulo codigo_selic data_vencimento  valor_erro
0       100000          LTN      2023-04-01     -0.0098
1       100000          LTN      2023-07-01      0.0441
2       100000          LTN      2023-10-01      0.0522
3       100000          LTN      2024-01-01     -0.0618
4       100000          LTN      2024-04-01     -0.0871
5       100000          LTN      2024-07-01     -0.0448
6       100000          LTN      2024-10-01      0.0047
7       100000          LTN      2025-01-01      0.0630
8       100000          LTN      2025-07-01      0.0007
9       100000          LTN      2026-01-01     -0.0824
10      760100        NTN-B      2023-03-15     -0.0474
11      760199        NTN-B      2023-05-15      0.1057
12      760199        NTN-B      2024-08-15     -0.1145
13      760199        NTN-B      2025-05-15      0.1174
14      760199        NTN-B      2026-08-15     -0.0229
15      760199        NTN-B      2027-05-15      0.0289
16      760199        NTN-B      2028-08-15     -0.0601
17      760199        NTN-B      2030-08-15      0.0171
18      760199        NTN-B      2032-08-15      0.0075
19      760199        NTN-B      2033-05-15      0.0056
20      760199        NTN-B      2035-05-15      0.0079
21      760199        NTN-B      2040-08-15     -0.0077
22      760199        NTN-B      2045-05-15     -0.0073
23      760199        NTN-B      2050-08-15     -0.0158
24      760199        NTN-B      2055-05-15      0.0020
25      760199        NTN-B      2060-08-15      0.0157
26      950199        NTN-F      2025-01-01      0.0991
27      950199        NTN-F      2027-01-01      0.0066
28      950199        NTN-F      2029-01-01     -0.0392
29      950199        NTN-F      2031-01-01      0.0025
30      950199        NTN-F      2033-01-01      0.0237

In [89]:
json_normalize(teste, record_path=['ettj'])

    vertice_du  taxa_prefixadas  taxa_ipca  taxa_implicita
0           21          13.1810        NaN             NaN
1           42          13.4295        NaN             NaN
2           63          13.5966        NaN             NaN
3          126          13.7877     6.9073          6.4358
4          252          13.6234     6.9013          6.2881
..         ...              ...        ...             ...
72        8820              NaN     6.4727             NaN
73        8946              NaN     6.4738             NaN
74        9072              NaN     6.4749             NaN
75        9198              NaN     6.4760             NaN
76        9324              NaN     6.4770             NaN

[77 rows x 4 columns]

In [90]:
json_normalize(teste, record_path=['bloco3361'])

   vertice_du     taxa
0          21  13.1810
1          42  13.4295
2          63  13.5966
3         126  13.7877
4         252  13.6234
5         504  13.2152
6         756  13.0809
7        1008  13.0531
8        1260  13.0534

#### Tentando request do site

In [19]:
def ler_ultimo_preco_ANBIMA(codigo):
    # montando url
    url = "https://data.anbima.com.br/api/series/" + codigo + "/precificacao/anbima?page=0&size=10"
    try:
        # requisicao GET
        r = requests.get(url)
        if r.status_code == 200:
            # interpretando JSON
            j = r.json()
            # observacao mais recente
            u = j["content"][0]
            # convertendo numeros
            u["taxa"] = float(u["taxa"])
            u["puIndicativo"] = float(u["puIndicativo"])
            u["duration"] = float(u["duration"])
            # retornando
            return u
        elif r.status_code == 404:
            raise Exception("papel nao encontrado no ANBIMA Data")
        else:
            r.raise_for_status()
    except Exception as e:
        print("Erro ao ler cotacoes ANBIMA: {}".format(e))
        raise
    finally:
        r.close()

In [22]:
ler_ultimo_preco_ANBIMA("AALM11")

Erro ao ler cotacoes ANBIMA: papel nao encontrado no ANBIMA Data

Exception: papel nao encontrado no ANBIMA Data

In [24]:
from pandas import json_normalize

url = 'https://data.anbima.com.br/web-bff/v1/debentures/filtros'

r = requests.get(url).json()
json_normalize(r)

                                              prazos  ...                                       tipos_ativos
0  [{'nome': 'prazo_emissao', 'min': 'Infinity', ...  ...  [{'identificador': 'DEB', 'ocorrencias': 3393,...

[1 rows x 3 columns]

In [25]:
json_normalize(r, record_path='prazos')

                        nome         min         max
0              prazo_emissao    Infinity   -Infinity
1               data_emissao  1989-10-01  2022-12-29
2            data_vencimento  2018-03-23  9999-01-01
3  data_inicio_rentabilidade  1994-09-01  2023-04-06
4         prazo_remanescente         0.0   2871950.0

In [26]:
json_normalize(r, record_path='remuneracao')

    indexador valores_remuneracao.min valores_remuneracao.max
0         DI+     0.20000000298023224       23.90999984741211
1        IPCA                     0.0      19.700000762939453
2         DI%                    80.0                   175.0
3  Pré-Fixado                     0.0                    47.0
4        IGPM                     0.0                    10.0
5          DI                     0.0                     0.0
6       Dolar                     1.0                    15.0
7        INPC                     4.0                     4.0
8          TR                     1.0                     1.0

In [27]:
json_normalize(r, record_path='tipos_ativos')

  identificador  ocorrencias nome_exibicao
0           DEB         3393          None